/* margem do site */
* {
    margin: 0;
    padding: 0;
}
/* animação do scroll */
html {
    scroll-behavior: smooth;
}
.animation {
    box-sizing: border-box;
}

/* copo do site */
body {
    /*fonte do site */
    font-family: Arial, Helvetica, sans-serif;
    /* fundo do site */
    background-color: #92fcff;
background-image: linear-gradient(90deg, #cdfdff 0%, #f5f5f5 33%, #f5f5f5    66%, #bfcaff 100%);

}



/* config do header */
.conteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 9999;
    padding: 10px 40px;
    background-color: rgb(98, 0, 179);
    box-sizing: border-box;
    position: fixed;
    top: 0;

}


/* ajuste da logo */
.conteiner .conteiner-logo img {
    display: flex;
    width: 60px;
    border-radius: 5px 15px 5px 15px;

    /* tempo da animação */
    transition: 500ms;
}


.conteiner .conteiner-logo img:hover {
    transform: scale(1.1);
}

 
.conteiner nav ul{
    /* ajuste do texto */ 
    display: flex;
    margin: 20px;
    gap: 34px;

    /* style do texto */
    list-style: none;
}


/* li */
.conteiner nav ul li {
    transition: 500ms;
    font-weight: bold;

    /* tempo da animação */
    transition: 500ms;
}


.conteiner nav ul li:hover {
    /* animação de escala */
    transform: scale(1.15);
}


/* texto */
.conteiner nav ul li a {
text-decoration: none;
font-size: 16px;
color:rgba(255, 255, 255, 0.61);

/* tempo da animação */
transition: 500ms;
}


/* animação do texto */ 
.conteiner  nav ul li a:hover {
    color: white;
}


/* banner sobre */
.banner {
    background:url(../img/banner-sobre.png) bottom;
    min-height: 870px;
    
    /* alinhamento */
    display: flex;
    justify-content: center;
    gap: 20px;
    

}
.banner .img {
    align-content: center;
}
.banner .img img {
    width: 380px;
    border-radius: 15px;

}
.banner .texto {
    align-content:center ;

}
.banner .texto h1 {
    color: white;
    display: none;
}
.banner .texto h2{
    text-align: start;
    align-content: center;
    
    color: white;
    font-size: 64px;
}
.banner .texto span {
    color: rgb(241, 241, 0);
}




main{
    width: 1000px;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 100px;
 
}
.Experiencias {
    margin: 120px 0 200px 0;
    text-align: center;
    font-size: 36px;
    color: rgb(0, 153, 145); 
    
}


.botao {
    display: flex;
    justify-content: center;
    gap: 0 30px;
}
.botao a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    
    background-color: #4896c5;
    background-image: linear-gradient(79deg, #4896c5 0%, #60d4c8 100%);
    text-align: center;
    padding: 15px;
    border-radius: 30px;    
    margin-bottom: 60px;
    
    transition: 500ms;
}

/* grid */
.autor {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
}
.autor img {
    width: 350px;
    border-radius: 20px;
    padding: 8px;
    transition: 500ms;
}
.autor img:hover {

    transform: scale(1.04);
    box-shadow: 0 0 20px aqua;
    border: 2px solid aqua;
}
.grid {
    align-content: center;
}

.grid .flex {
    display: flex;
    justify-content: space-between;
    
}

.grid .flex .sobre  {
    margin: 30px 20px;
    width: 300px;
    height: auto;
    gap: 5px;
    
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}



.grid .flex .sobre i {
    font-size: 40px;
    color: #131f57;
    padding-bottom: 5px;
    
}
.grid .flex .sobre h3 {
    padding-bottom: 5px;
    font-weight: bold;
}

/* projetos */
.projetos {
  text-align: center;
}
/* texto */
.projetos .projetos-motion {
    margin: 200px 0;
    text-align: center;
    font-size: 36px;
    color: rgb(0, 153, 145);    
}
/* videos projeto 1 */  
.projetos .video1 {
    margin: auto;
    width: 800px;
    margin-bottom: 160px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 99, 99, 0.534);
  
}
.projetos-videos {
    display: flex;
    justify-content: center;
    margin-bottom: 120px;
    
}
.projetos-videos .motions {
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 99, 99, 0.534);
    margin: 0 20px;
        
}


footer {
    
    width: 100%;
    background-color: rgb(98, 0, 179);
    padding: 15px;
    box-sizing: border-box;
}
footer h2 {
    text-align: center;
    color: white;

    /* distancia dos icones ao texto */
    margin-bottom: 30px;
}
footer .icone-center {
    display: flex;
    justify-content: center;
}
footer .icone-center a  {
    font-size: 28px;
    margin: 0 20px;
    /* tempo da animação */
    transition: 500ms;

}
footer .icone-center a:hover {
    transform: scale(1.2);
}



.menu {

    display: none;
    
}
/* ativador do menu */

.MT {

    display: block !important;

}


@media screen and (max-width:430px) {
    /* header */
    .conteiner {
        display: block;
    }
    .conteiner .conteiner-logo {
        display: flex;
        justify-content: space-between;
    }

    .menu {
         display: block;
         /* ajuste do menu */
         color: white;
         font-size: 30px;
         margin-top: 15px;
    }

     .conteiner nav {
        display: none;
        text-align:end;     
        transition: 1s;
     }
    
    .conteiner nav ul {
        display: block;
        margin: 0;
    }
    .conteiner nav ul li {
       margin-top: 12px;
    }
    .conteiner nav ul li a {
        font-size: 18px;
    }
    .banner {
        min-height: 700px;
    }

    /* ajuste do banner */
    .banner .img img {
       display: none;

    }
    .banner .texto {
       align-content: normal;
       padding-top: 180px;
    }
    .banner .texto h2 {
    font-size: 42px;
    
    }
    main {
        width: 100%;
    }
    .Experiencias {
        margin: 120px 0 140px 0;
    }
    .botao {
        flex-direction: column;
    }
    .botao a {
        width: 40%;
        margin: 40px auto;
    }

    .autor {
        display: block;
        text-align: center;
    }
    .autor img {
        width: 90%;
    }
    .autor .grid .flex {
        display: block;
    }
    .autor .grid .flex .sobre {
        margin: auto;
        margin-top: 50px;
        width: 90%;
    }
    /* projetos */
    .projetos .video1 {
        width: 98%;
    }
    .projetos-videos {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .projetos-videos .motions {
        margin: 50px auto;
        width: 80%;
    }

}


@media screen and (max-width:360px) {
    /* ajuste do banner em texto */
    .banner .texto { 
        align-content: normal;
        padding-top: 150px;
     }
     .banner .texto h2 {
        font-size:38px;
     }

}
@media screen and (max-width:290px) {
    .banner {
        min-height: 600px;
    }
    .banner .texto h2 {
        font-size: 32px;
    }
}