/* margem do site */
* {
    margin: 0;
    padding: 0;
}
/* animação do scroll */
html {
    scroll-behavior: smooth;
}
.animation {
    box-sizing: border-box;
}

/* copo do site */
body {
    /*fonte do site */
    font-family: Arial, Helvetica, sans-serif;
    /* fundo do site */
    background-color: #92fcff;
background-image: linear-gradient(90deg, #cdfdff 0%, #ffffff 33%, #ffffff 66%, #bfcaff 100%);

}



/* config do header */
.conteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 9999;
    padding: 10px 40px;
    background-color: rgb(98, 0, 179);
    box-sizing: border-box;
    position: fixed;
    top: 0;

}


/* ajuste da logo */
.conteiner .conteiner-logo img {
    display: flex;
    width: 60px;
    border-radius: 5px 15px 5px 15px;

    /* tempo da animação */
    transition: 500ms;
}


.conteiner .conteiner-logo img:hover {
    transform: scale(1.1);
}

 
.conteiner nav ul{
    /* ajuste do texto */ 
    display: flex;
    margin: 20px;
    gap: 34px;

    /* style do texto */
    list-style: none;
}


/* li */
.conteiner nav ul li {
    transition: 500ms;
    font-weight: bold;

    /* tempo da animação */
    transition: 500ms;
}


.conteiner nav ul li:hover {
    /* animação de escala */
    transform: scale(1.15);
}


/* texto */
.conteiner nav ul li a {
text-decoration: none;
font-size: 16px;
color:rgba(255, 255, 255, 0.61);

/* tempo da animação */
transition: 500ms;
}


/* animação do texto */ 
.conteiner  nav ul li a:hover {
    color: white;
}


/* banner sobre */
.banner {
    background:url(../img/banner-sobre.png) bottom;
    min-height: 870px;
    
    /* alinhamento */
    display: flex;
    justify-content: center;
    gap: 20px;
    

}
.banner .img {
    align-content: center;
}
.banner .img img {
    width: 380px;
    border-radius: 15px;

}
.banner .texto {
    align-content:center ;

}
.banner .texto h1 {
    color: white;
    display: none;
}
.banner .texto h2{
    text-align: start;
    align-content: center;
    
    color: white;
    font-size: 64px;
}
.banner .texto span {
    color: rgb(241, 241, 0);
}




main{
    width: 1000px;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 100px;
 
}
/* grid */
.autor {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.autor img {
    width: 350px;
    border-radius: 20px;
    padding: 8px;
    transition: 500ms;
}
.autor img:hover {

    transform: scale(1.04);
    box-shadow: 0 0 20px aqua;
    border: 2px solid aqua;
}
.grid {
    align-content: center;
}

.grid .flex {
    display: flex;
    justify-content: space-between;
    
}

.grid .flex .sobre  {
    padding: 40px 30px;
    width: 300px;
    height: auto;
    gap: 5px;
}



.grid .flex .sobre i {
    font-size: 40px;
}

footer {
    
    width: 100%;
    background-color: rgb(98, 0, 179);
    padding: 15px;
    box-sizing: border-box;
}
footer h2 {
    text-align: center;
    color: white;

    /* distancia dos icones ao texto */
    margin-bottom: 30px;
}
footer .icone-center {
    display: flex;
    justify-content: center;
}
footer .icone-center a  {
    font-size: 28px;
    margin: 0 20px;
    /* tempo da animação */
    transition: 500ms;

}
footer .icone-center a:hover {
    transform: scale(1.2);
}



.menu {

    display: none;
    
}
/* ativador do menu */

.MT {

    display: block !important;

}


@media screen and (max-width:430px) {
    /* header */
    .conteiner {
        display: block;
    }
    .conteiner .conteiner-logo {
        display: flex;
        justify-content: space-between;
    }

    .menu {
         display: block;
         /* ajuste do menu */
         color: white;
         font-size: 30px;
         margin-top: 15px;
    }

     .conteiner nav {
        display: none;
        text-align:end;     
        transition: 1s;
     }
    
    .conteiner nav ul {
        display: block;
        margin: 0;
    }
    .conteiner nav ul li {
       margin-top: 12px;
    }
    .conteiner nav ul li a {
        font-size: 18px;
    }
    .banner {
        min-height: 700px;
    }

    /* ajuste do banner */
    .banner .img img {
       display: none;

    }
    .banner .texto {
       align-content: normal;
       padding-top: 180px;
    }
    .banner .texto h2 {
    font-size: 48px;
    }
    main {
        width: 100%;
    }

    .autor {
        display: block;
        text-align: center;
    }
    .autor img {

    }
    .autor .grid .flex {
        display: block;
    }
    .autor .grid .flex .sobre {
        margin: auto;
    }

}

@media screen and (max-width:360px) {
    /* ajuste do banner em texto */
    .banner .texto {
        align-content: normal;
        padding-top: 150px;
     }
     .banner .texto h2 {
     font-size: 42px;
     }
    
}