/* margem do site */
* {
    margin: 0;
    padding: 0;
}
/* animação do scroll */
html {
    scroll-behavior: smooth;
}

/* copo do site */
body {
    /*fonte do site */
    font-family: Arial, Helvetica, sans-serif;
    /* fundo do site */
    background-color: #d4f7ff;
    background-image: linear-gradient(90deg, #d4f7ff 0%, #ffffff 37%, #ffffff 64%, #f6e3ff 100%);

}



/* config do header */
.conteiner {
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 9999;
    padding: 10px 40px;
    background-color: rgb(98, 0, 179);
    box-sizing: border-box;
    position: fixed;
    top: 0;

}


/* ajuste da logo */
.conteiner .conteiner-logo img {
    display: flex;
    width: 60px;
    border-radius: 5px 20px 5px 20px;

    /* tempo da animação */
    transition: 500ms;
}


.conteiner .conteiner-logo img:hover {
    transform: scale(1.1);
}

 
.conteiner nav ul{
    /* ajuste do texto */ 
    display: flex;
    margin: 20px;
    gap: 34px;

    /* style do texto */
    list-style: none;
}


/* li */
.conteiner nav ul li {
    transition: 500ms;
    font-weight: bold;

    /* tempo da animação */
    transition: 500ms;
}


.conteiner nav ul li:hover {
    /* animação de escala */
    transform: scale(1.15);
}


/* texto */
.conteiner nav ul li a {
text-decoration: none;
font-size: 16px;
color:rgba(255, 255, 255, 0.61);

/* tempo da animação */
transition: 500ms;
}


/* animação do texto */ 
.conteiner  nav ul li a:hover {
    color: white;
}


/* banner animado */
.banner-animado video {
    margin-top: 80px;
    width: 100%;
    margin-bottom: 150px;
   
    /* animação de suavisão */ 
    transition: 500ms;

}
.banner-mobile{
    display: none;
}
.banner-mobile video {
    display: none;
    margin-top: 80px;
    width: 100%;
    margin-bottom: 150px;
   
    /* animação de suavisão */ 
    transition: 500ms;
}

main {
    display: block;
    width: 1100px;
    margin: auto;
    margin-bottom: 100px;
    padding: 10px;
    box-sizing: border-box;  
    
    
}
/* sobre o autor */

h1{
    text-align: center;
    font-size: 46px;
    color: rgb(0, 163, 163);
    margin-top: 200px;
    margin-bottom: 350px;
}
.autor {
    align-content: center;
}
.autor h2 {
    font-size: 46px;
    color: rgb(0, 163, 141);
}
.quem-sou {
    display: flex;
    justify-content: center;
    gap: 40px;

}
.quem-sou img {
    width: 450px;
    border-radius: 20px;
   /* tempo da animação */
   transition: 500ms;
}




/* experiencia */

.formacoes{
    text-align: center;
    font-size: 46px;
    color: rgb(0, 196, 196);
    margin-top: 250px;
    margin-bottom: 200px;
}

.link {
    display: flex;
    justify-content: center;
    gap: 0 40px;
}
.coluna {
    text-align: center;   
    margin-bottom: 80px;
}

.coluna h3 {
    margin-bottom: 40px;
}

.link .coluna img {
/* tamanho dasimagens */
    width: 280px;
    border-radius: 15px;
    border: 2px solid rgb(0, 225, 255);
    padding: 7px;
    margin-bottom: 40px;
    box-sizing:border-box ;
    /*tempo da animação */  
    transition: 500ms;

}
.link .coluna img:hover {
    transform: scale(1.04); 
    box-shadow: 0 0 20px rgb(0, 183, 255);
}

.botao-sobre {
    display: flex;
    justify-content: center;
}

.botao-sobre a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    background-color: #8197ff;
    background-image: linear-gradient(71deg, #8197ff 0%, #ff33f4 100%);    
    padding: 15px;
    border-radius: 30px;    
    margin-bottom: 60px;
}

.link .animation {
 box-sizing: border-box;
}


footer {
    
    width: 100%;
    background-color: rgb(98, 0, 179);
    padding: 15px;
    box-sizing: border-box;
}
footer h2 {
    text-align: center;
    color: white;

    /* distancia dos icones ao texto */
    margin-bottom: 30px;
}
footer .icone-center {
    display: flex;
    justify-content: center;
}
footer .icone-center a  {
    font-size: 28px;
    margin: 0 20px;
    /* tempo da animação */
    transition: 500ms;

}
footer .icone-center a:hover {
    transform: scale(1.2);
}



.menu {

    display: none;
    
}
/* ativador do menu */

.MT {

    display: block !important;

}



/* reponsivo do meu site */
/*-----------------------*/
/*------------------------*/ 

@media screen and (max-width:1400px) {

    main {
        width: 900px;
    }

    .link .coluna img {
        width: 250px;
    }
    
    .quem-sou img {
        width: 450px;
    }
}

@media  screen and (max-width:1100px) {
    
    main {
        width: 800px;
    }
    .link .coluna img {
        width: 220px;
    }
    .autor h2 {
        font-size: 40px;
    }
    .quem-sou img {
        width: 430px;
    }
}
@media screen and (max-width:950px) {
    main {
        width: 730px;
    }
    .link .coluna img {
        width: 192px;
    }
    .autor h2 {
        font-size: 36px;
    }
    .quem-sou img {
        width: 390px;
    }
    
}

@media screen and (max-width:830px) {

    main {
        width: 100%;    
    }

    .quem-sou {
        flex-direction: column;
        
    }
    .quem-sou img {
        margin: auto;
        width: px;
        margin-bottom: 20px;
       
    }
    .quem-sou h2 {
        text-align: center;
    }

   .link {
    display: block;
    }

    .coluna h3 {
        margin-top: 40px;
        margin-bottom: 20px;
    }
    
    .link .coluna img {
        width: 400px;
    }
    
    
}
@media screen and (max-width:620px) {
    .banner-animado video {
        display: none;
    }
    .banner-mobile {
        display: block;
    }
    .banner-mobile video {
        display: block;
        margin-top: 180px;
    }
    .quem-sou img {
        margin: auto;
        width: 400px;
        margin-bottom: 20px;
    }
    .link .coluna img {
        width: 360px;
    }
}

@media screen and (max-width:430px) {
    /* header */
    .conteiner {
        display: block;
    }
    .conteiner .conteiner-logo {
        display: flex;
        justify-content: space-between;
    }

    .menu {
         display: block;
         /* ajuste do menu */
         color: white;
         font-size: 30px;
         margin-top: 15px;
    }

     .conteiner nav {
        display: none;
        text-align:end;     
        transition: 1s;
     }
    
    .conteiner nav ul {
        display: block;
        margin: 0;
    }
    .conteiner nav ul li {
       margin-top: 12px;
    }
    .conteiner nav ul li a {
        font-size: 18px;
    }
    /* final header */


    .banner-animado video {
        width: 100%;
    }
    /* seja bem vindo */
    h1 {
        font-size: 32px;
    }
    /* final seja bem vindo */

    /*block quem sou */
    .quem-sou img {
        margin: auto;
        width: 380px;
        margin-bottom: 20px;

    }
    .autor h2 {
        font-size: 36px;
    }
    .formacoes {
        font-size: 32px;
    }
    .coluna a {
        font-size: 20px;
    }
}
@media screen and (max-width:370px) {

    .quem-sou img {
        margin: auto;
        width: 330px;
        margin-bottom: 20px;
    }

}

@media screen and (max-width:360px) {

    .quem-sou img {
        margin: auto;
        width: 315px;
        margin-bottom: 20px;
    }
    .link .coluna img {
        width: 270px;
    }
}

@media screen and (max-width:321px) {

    .quem-sou img {
        margin: auto;
        width: 280px;
        margin-bottom: 20px;
    }
    .link .coluna img {
        width: 240px;
    }

}